# Database Configuration
MONGODB_URI=mongodb://localhost:27017
# Server Configuration
PORT=3000
NODE_ENV=production
SMTP_KEY = your key
SMTP_USER = your login id
# For Docker Compose (use these values when running with docker-compose)
# DATABASE_URL="postgresql://gdgc_user:gdgc_password@postgres:5432/gdgc_db?schema=public"
